.logo{
    width: 45px !important;
    height: 45px !important;
    /* font-weight: 700; */
    background-image: url('./../../assets/logo.jpg');
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
}
.logo:hover{
    cursor: pointer;
}
.hover{
    transition: 0.3s ease color;
}
.hover:hover{
    color: #fff !important;
}